@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../public/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../public/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../public/fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../public/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("../public/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../public/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../public/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../public/fonts/Pretendard-Light.woff2") format("woff2"),
    url("../public/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("../public/fonts/Pretendard-Thin.woff2") format("woff2"),
    url("../public/fonts/Pretendard-Thin.woff") format("woff");
}

:root {
  --background: #ffffff;
  --foreground: #272727;
  --swiper-pagination-bullet-size: 0rem;
  --swiper-pagination-bullet-width: 0.75rem;
  --swiper-pagination-bullet-height: 0.75rem;
  --swiper-pagination-bullet-inactive-color: #ffffff;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #272727;
  }
}

html {
  @apply scroll-smooth;
}

@media (max-width: 360px) {
  html {
    /*
    - 360px 이하일 때 폰트 사이즈 고정
    - 모바일 웹뷰 대응(갤럭시 S 시리즈 등)
    - digital-number 컴포넌트 등에서 rem 단위 폰트 사이즈가 깨지는 현상 방지
    */
    font-size: 16px !important;
  }
}

body {
  color: var(--foreground);
  line-height: 1.43;
  letter-spacing: -0.02em;
  background: var(--background);
  @apply break-words bg-white overflow-x-hidden;
}

html,
body {
  @apply text-xsBase sm:text-smBase md:text-mdBase lg:text-lgBase xl:text-base text-gray-800;
}

/* layout : start */
#wrapper,
#contents {
  @apply w-full;
}

.content-padding {
  @apply px-5 md:px-6 lg:px-9 xl:px-0;
}

.responsive-margin {
  @apply -mx-5 md:-mx-6 lg:-mx-9 xl:mx-0;
}

.container {
  @apply px-5 py-5 max-w-full m-center bg-white
  md:px-6
  md:max-w-full
  lg:w-tablet
  xl:w-laptop
  xl:px-11 xl:py-8;
}
/* layout : end */

pre {
  @apply whitespace-pre-wrap;
}

/* 내부에서 정의한, 커스텀 유틸리티 클래스 tailwind 클래스 처럼 요소에서 바로 쓰기 가능*/
@layer utilities {
  img {
    display: inline-block;
  }

  .text-balance {
    text-wrap: balance;
  }

  .scroll::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 0.25rem;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }

  .inputNumber[type="number"]::-webkit-outer-spin-button,
  .inputNumber[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .inputNumber[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer base {
  button,
  input,
  select,
  img,
  svg {
    @apply leading-none;
  }
}

/* START : TABLE STYLE */
table {
  @apply w-full border-0 border-t border-t-gray-700 border-collapse border-spacing-0 !important;
}

table col.hide {
  @apply hidden lg:table-column !important;
}

table .hide {
  @apply hidden lg:table-cell !important;
}
table .disabled {
  @apply text-gray-400;
}

table col.hideM {
  @apply hidden md:table-column !important;
}

table .hideM {
  @apply hidden md:table-cell !important;
}

table th,
td {
  @apply text-2xs sm:text-sm md:text-base border border-t-0;
}

table th {
  @apply px-1 py-3 sm:py-4 lg:py-5 lg:px-3 font-md border border-l-0 border-r-0 border-b bg-[#F4F5F6];
}

table thead th {
  @apply text-center border-t-gray-700 lg:border-t-0;
}

table td {
  @apply sm:px-2 py-3 sm:py-4 text-center border border-l-0 border-r-0 lg:border-t-0 border-b;
}

/* tableTypeMd */
.tableTypeMd {
  @apply flex md:table !border-t-0 md:!border-t;
}

.tableTypeMd thead {
  /* @apply w-1/3 lg:w-full; */
}

.tableTypeMd thead tr,
.tableTypeMd tbody tr {
  @apply block md:table-row;
}

.tableTypeMd thead tr th {
  @apply m-1 ml-0 px-2 py-1 md:py-4
  w-full flex flex-wrap items-center justify-start md:justify-center
  md:w-auto md:table-cell
  border-t-0 border-r-0
  border-b md:border-b
  border-b-grayBlue-50 md:border-b-[#d9d9d9] bg-grayBlue-50
  rounded-[0.375rem] md:rounded-none;
}

.tableTypeMd tbody {
  /* @apply w-2/3 lg:w-full flex md:table-row-group; */
  @apply flex md:table-row-group;
}

.tableTypeMd tbody tr {
  @apply grow flex-1;
}

.tableTypeMd tbody tr td {
  @apply m-1 py-1 md:py-4
  block md:table-cell items-center
  w-full md:w-auto
  text-right md:text-center
  border-b border-t-0
  border-r-0 last:border-b
  md:border-b;
}

/* TableType */
.TableType {
  @apply flex lg:table;
}

.TableType thead {
  @apply w-1/3 lg:w-full;
}

.TableType tbody {
  @apply w-2/3 flex lg:table-row-group;
}

.TableType thead tr,
.TableType tbody tr {
  @apply block lg:table-row;
}

.TableType tbody tr {
  @apply grow flex-1;
}

.TableType thead tr th {
  @apply flex flex-wrap items-center justify-center
  w-full text-center
  border-t-0 border-b
  last:border-b border-r-0
  lg:w-auto lg:table-cell
  lg:border-b;
}

.TableType tbody tr td {
  @apply px-0 lg:px-1
  w-full block items-center border-t-0 border-b
  border-r-0 last:border-b
  lg:w-auto lg:table-cell
  lg:border-b;
}

.TableType thead tr th.double,
.TableType tbody tr td.double {
  @apply flex-wrap lg:flex-nowrap content-center leading-[1.2] py-[0.25rem] h-[3rem] sm:py-2 sm:h-[4.0625rem];
}

.TableType tbody tr td.double {
  @apply flex justify-center lg:table-cell;
}
.tableType2 tbody tr:first-child th {
  @apply border-t-gray-700;
}

caption {
  @apply hidden;
}
/* END : TABLE STYLE */

.arrow-cut {
  @apply w-0 h-0 border-l-[4px] border-l-transparent border-r-[4px] border-r-transparent;
}

.arrow-cut-up {
  @apply border-b-[6px] border-b-[#EC0045];
}

.arrow-cut-down {
  @apply border-t-[6px] border-t-blue-700;
}

/* WebKit 트랙/썸 */
.range-input.none {
  display: none;
}
.range-input::-webkit-slider-runnable-track {
  height: 8px;
  background: transparent;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3b82f6;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  pointer-events: auto; /* ✅ thumb만 이벤트 허용 */
  cursor: pointer;
}

/* Firefox 트랙/썸 */
.range-input::-moz-range-track {
  height: 8px;
  background: transparent;
}
.range-input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3b82f6;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  pointer-events: auto; /* ✅ thumb만 이벤트 허용 */
  cursor: pointer;
}
