@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('../public/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../public/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('../public/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('../public/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('../public/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../public/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('../public/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../public/fonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('../public/fonts/Pretendard-Light.woff2') format('woff2'),
    url('../public/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url('../public/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('../public/fonts/Pretendard-Thin.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-bullet-size: 0rem;
  --swiper-pagination-bullet-width: 0.75rem;
  --swiper-pagination-bullet-height: 0.75rem;
  --swiper-pagination-bullet-inactive-color: #ffffff;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  line-height: 1.43;
  background: var(--background);
  @apply break-words;
}

html,
body {
  @apply text-xsBase sm:text-smBase md:text-mdBase lg:text-lgBase xl:text-base;
}

table {
  @apply w-full border-0 border-t border-t-gray-700 border-collapse border-spacing-0 !important;
}

table col.hide {
  @apply hidden lg:table-column !important;
}

table .hide {
  @apply hidden lg:table-cell !important;
}

table th,
td {
  @apply text-2xs sm:text-s md:text-base border border-t-0;
}
table th {
  @apply px-2 py-5 md:py-5 lg:py-8 lg:px-4 font-normal border border-l-0 border-r-0 border-b bg-[#F4F5F6];
}
table thead th {
  @apply border-t-gray-700 lg:border-t-0;
}

table td {
  @apply px-3 py-5 md:py-5 text-center border border-l-0 border-r-0 first:border-t-gray-700 lg:border-t-0 border-b;
}

.tableType1 {
  @apply flex lg:table;
}

.tableType1 th,
.tableType1 td {
  @apply border-b;
}

.tableType1 thead tr,
.tableType1 tbody tr {
  @apply block lg:table-row;
}

.tableType1 thead tr th {
  @apply w-full flex flex-wrap items-center justify-center
  border-t-0 border-b
  last:border-b border-r-0
  lg:w-auto lg:table-cell
  lg:border-b;
}

.tableType1 tbody {
  @apply flex lg:table-row-group;
}

.tableType1 tbody tr {
  @apply grow;
}

.tableType1 tbody tr td {
  @apply w-full block items-center border-t-0 border-b
  border-r-0 last:border-b
  lg:w-auto lg:table-cell
  lg:border-b;
}

.tableType2 tbody tr:first-child th {
  @apply border-t-gray-700;
}

caption {
  @apply hidden;
}

@layer {
}

/* align = top: 50% left: 50% */
.x_center {
  @apply absolute left-[50%] transform -translate-x-1/2;
}
.y_center {
  @apply absolute top-[50%] transform -translate-y-1/2;
}
.center_center {
  @apply absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 md:-translate-y-[49.7%];
}
.before_center {
  @apply before:absolute before:top-[50%] before:left-[50%] before:transform before:-translate-x-1/2 before:-translate-y-1/2;
}
.after_center {
  @apply after:absolute after:top-[50%] after:left-[50%] after:transform after:-translate-x-1/2 after:-translate-y-1/2;
}

/* layout : start */
#wrapper,
#contents {
  @apply w-full;
}

#contents {
}

.swiper-slide {
  /* @apply w-auto; */
}

.container {
  @apply px-6 py-6 max-w-full m-center bg-white
  md:px-7
  md:max-w-full
  lg:w-tablet
  xl:w-laptop
  xl:px-12 xl:py-9;
}
/* layout : end */

pre {
  @apply whitespace-pre-wrap;
}

.btn-wrapper {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.btn-wrapper:hover {
  @apply bg-blue-700;
}

.btn-wrapper:active {
  @apply bg-blue-800;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}

/* 내부에서 정의한, 커스텀 유틸리티 클래스 tailwind 클래스 처럼 요소에서 바로 쓰기 가능*/
@layer utilities {
  img {
    display: inline-block;
  }

  .text-balance {
    text-wrap: balance;
  }

  .scroll::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 0.25rem;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }

}
